
.inputBox {
  max-width: 100%;
  width: 60%;
  flex-direction: column; 
  margin: 0 auto;
}

.search-container,
.met_container,
.clo_container,
.burnsa_container,
.duration_container,
.shade_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  padding: 15px;
}


input[type="text"],
  select {
    width: 70%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    margin-left: 10px; 
    color: rgb(104, 99, 99);
}


.search-container label,
.met_container label,
.clo_container label,
.burnsa_container label,
.duration_container label,
.shade_container label {
  width: 20%; 
}


.search-container i.fa-solid,
.met_container i.fa-solid,
.clo_container i.fa-solid,
.burnsa_container i.fa-solid,
.duration_container i.fa-solid,
.shade_container i.fa-solid {
  right: 30px;
  color: #555; 
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.met-help-button,
.clo-help-button,
.burnsurface-help-button {
  background-color: #17699d;
  color: #f4f4f4;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 2%;
}

.calculate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
  margin-bottom: 20px;
  text-align: center;
}

.calculate-button {
  background-color: rgb(25, 95, 152);
  color: white;
  font-size: 18px;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.calculate-button:hover {
  background-color: rgb(16, 75, 163);
  transform: scale(1.1);
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-box {
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 10px; 
  background-color: #ffffff;
}

.Red{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 700px;
  margin-top: 20px;
  justify-content: center;
  padding: 15px;
  border-radius: 5px; 
  border: 2px solid rgb(255, 255, 255);
  background-color: #b83c55;
  color: white;
  font-size: 25px;
  height: 15vh;
}

.Orange{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 700px;
  margin-top: 20px;
  justify-content: center;
  padding: 15px; 
  border-radius: 5px; 
  border: 2px solid rgb(253, 253, 253);
  background-color: #f17d3f;
  color: white;
  font-size: 25px;
  height: 15vh;
}

.Yellow{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 700px;
  margin-top: 20px;
  justify-content: center;
  padding: 15px; 
  border-radius: 5px; 
  border: 2px solid rgb(255, 255, 255);
  background-color: #ddc53a;
  font-size: 25px;
  height: 15vh;
}

.Green{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 700px;
  margin-top: 20px;
  justify-content: center;
  padding: 15px; 
  height: 15vh;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #7bc774;
  color: white;
  font-size: 25px;
}


.search-results {
  width: 67%;
  margin: 0 auto;
  margin-left: 23%;
  top: 100%; 
  max-height: 300px; 
  overflow-y: auto; 
  background: #fff;
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 8px 8px; 
  z-index: 1; 
  box-sizing: border-box;
}


.search-results ul {
  border-bottom:1px rgb(104, 99, 99);
  list-style: circle;
}

/* Add styles for individual search result items */
.search-results li {
  font-size: 15px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Add hover effect for search result items */
.search-results li:hover {
  background-color: #007bff;
}

.graph-container {
  width: 780px;
  margin: 0 auto; 
  padding: 20px;
  text-align: center; 
}

.graph-axis {
  color: #333; 
}

.forecast-title {
  text-align: center; 
  font-size: 20px; 
  font-weight: bold;
}

.legend {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;

}

.legend-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  margin-right: 15px; 
  margin-left: 15px;
}

/* Define the colors for the legend circles */
.green {
  background-color: #7bc774;
}

.yellow {
  background-color: #ddc53a;
}

.orange {
  background-color: #f17d3f;
}

.red {
  background-color: #b83c55;
}




@media screen and (max-width: 1200px) {
 .inputBox{
  width: 80%;
 }

  input[type="text"],
  select {
    width: 60%;
  }


  .met-help-button,
  .clo-help-button,
  .burnsurface-help-button{
    margin-right: 12%;
  }

  .search-results{
    width: 58%;
  }

  .graph-container {
    width: 90%; 
  }

  .result-box,
  .Green,
  .Orange,
  .Yellow,
  .Red {
    width: 75%;
  }

}

@media screen and (max-width: 950px) {
  .met-help-button,
  .clo-help-button,
  .burnsurface-help-button{
    margin-right: 8%;
  }
}



@media screen and (max-width: 600px) {
  .inputBox{
   width: 100%;
  }
 
   input[type="text"],
   select {
     width: 61%;
     font-size: 12px;
     padding: 10px;
   }

   .inputBox option {
    font-size: 11px;
   }

   .search-container label,
   .met_container label,
   .clo_container label,
   .burnsa_container label,
   .duration_container label,
   .shade_container label{
      font-size: 12px;
   }

   .search-container i.fa-solid,
   .met_container i.fa-solid,
   .clo_container i.fa-solid,
   .burnsa_container i.fa-solid,
   .duration_container i.fa-solid,
   .shade_container i.fa-solid {
     right: 30px;
   }

   .met-help-button,
   .clo-help-button,
   .burnsurface-help-button{
     text-align: center;
     font-size: 14px;
     margin-right: 12px;
     width: 3px;
     height: 3vh;
   }

   .calculate-button{
    padding: 10px 15px;
    font-size: 14px;
   }

   .search-results{
     width: 58%;
   }

   .search-results li{
    font-size: 12px;
   }
   
   .forecast-title {
    font-size: 14px;
   }

   .graph-container {
     width: 90%; 
   }
 
   .result-box,
   .Green,
   .Orange,
   .Yellow,
   .Red {
     width: 70%;
     font-size: 15px;
   }

   .legend{
    font-size: 10px;
   }

   .calculate-button{
    padding: 10px 20px;
  }
 }

