/* ToggleBar.css */

.toggle-bar {
  max-width: 730px;
  width: 100%;
  margin: 20px auto;
}

.toggle-bar button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid rgb(204, 204, 204);
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
}

.toggle-bar .detailed-descriptions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid rgb(204, 204, 204);
  padding: 20px;
  border-radius: 6px;
  width: 100%;
  text-align: left;
  transition: transform 0.9s ease;
  box-sizing: border-box;
}

.toggle-bar button:hover {
  background-color: #708be48c;
}

.icon {
  margin-left: auto;
  transition: transform 0.5s ease;
}

.icon.expanded {
  transform: rotate(180deg);
}

.toggle-bar button.expanded {
  height: auto;
}

.toggle-bar button.expanded .detailed-descriptions {
  visibility: visible;
  transition: all 0.7s ease-in-out;
}

@media (max-width: 900px) {
  .toggle-bar{
    width: 80%;
  }
}

@media (max-width: 600px) {
  .toggle-bar{
    width: 80%;
  }

  .toggle-bar button,
  .toggle-bar .detailed-descriptions {
    font-size: 14px;
    color: black;
    padding: 12px;
  }
}
